<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="root/server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="root/server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>

